/* Containers styles 
-------------------------------------------------------*/
/* line 5, smithfield.scss */
.sapUiBody {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
}
/* line 9, smithfield.scss */
.sapUiBody .sapMShellGlobalOuterBackground {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8f7ff), color-stop(43%, #f9fdff), color-stop(55%, #fff8ea), color-stop(71%, #fff3db), color-stop(100%, #e7ffc6));
  background-image: -webkit-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: -moz-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: -o-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
}
/* line 13, smithfield.scss */
.sapUiBody .sapMShellGlobalInnerBackground {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8f7ff), color-stop(43%, #f9fdff), color-stop(55%, #fff8ea), color-stop(71%, #fff3db), color-stop(100%, #e7ffc6));
  background-image: -webkit-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: -moz-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: -o-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
}
/* line 17, smithfield.scss */
.sapUiBody .sapMShellBrandingBar {
  background-color: #FFA518;
}
/* line 22, smithfield.scss */
.sapUiBody .sapMGlobalBackgroundColor {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8f7ff), color-stop(43%, #f9fdff), color-stop(55%, #fff8ea), color-stop(71%, #fff3db), color-stop(100%, #e7ffc6));
  background-image: -webkit-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: -moz-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: -o-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  /*.sapMGlobalBackgroundImage{
  }*/
}

/* line 34, smithfield.scss */
.splitAppStyle .sapMSplitContainerMaster {
  background: none;
}
/* line 41, smithfield.scss */
.splitAppStyle .sapMSplitContainerMaster:not(.sapMSplitContainerMasterVisible):before {
  border-right-color: transparent !important;
}
/* line 45, smithfield.scss */
.splitAppStyle .sapMSplitContainerMaster:not(.sapMSplitContainerMasterVisible):after {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}

/* line 50, smithfield.scss */
.splitAppStyle.sapMGlobalBackgroundColor > .sapMGlobalBackgroundImage {
  display: block !important;
  background: url("../i/bg.jpg") no-repeat center center !important;
  background-size: cover !important;
}

/* Header Bar styles
-------------------------------------------------------*/
/* line 60, smithfield.scss */
.sapMBar.sapMHeader-CTX {
  color: #fff;
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
}

/* line 65, smithfield.scss */
.sap-desktop .sapMBar.sapMPageHeader {
  background: #A33863;
}

/* line 69, smithfield.scss */
.sapMBar.sapMPageHeader {
  background: #A33863;
  -webkit-box-shadow: #883053 0px 2px 0px;
  -moz-box-shadow: #883053 0px 2px 0px;
  box-shadow: #883053 0px 2px 0px;
}
/* line 72, smithfield.scss */
.sapMBar.sapMPageHeader:before {
  border-top-color: #FFA518;
}

/* line 77, smithfield.scss */
.sapMPageHeader .sapMBtn {
  border-color: #883053;
}

/* line 81, smithfield.scss */
.sapMIBar-CTX .sapMBtnInner {
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}
/* line 85, smithfield.scss */
.sapMIBar-CTX .sapMBtnInner .sapMBtnIcon {
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}

/* line 91, smithfield.scss */
.sapMPageHeader .sapMBtnContent > .sapUiIcon {
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}

/*when active*/
/* line 97, smithfield.scss */
.sapMPageHeader .sapMBtn.sapMBtnActive:not(.sapMBtnDisabled) {
  background-color: #FFA518;
  border-color: #883053;
}

/* line 102, smithfield.scss */
.sapMBar-CTX .sapMBtnInner.sapMBtnActive:not(.sapMBtnDisabled) {
  background-color: #FFA518;
  border-color: #883053;
}

/*when hover*/
/* line 111, smithfield.scss */
.sapMPageHeader .sapMLabel {
  font-family: 'Cabin',Arial,Helvetica,sans-serif !important;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}

/* Empty Page styles
-------------------------------------------------------*/
/* line 121, smithfield.scss */
.sapMSplitContainerDetail .emptyPage {
  background: url("../i/bg.jpg") no-repeat fixed center center !important;
  background-size: cover !important;
}

/* line 130, smithfield.scss */
.sapMSplitContainerDetail .emptyPage {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 5px inset;
}

/* Login Page styles
-------------------------------------------------------*/
/* line 136, smithfield.scss */
.sapMSplitContainerMaster .loginPage {
  background: url("../i/bg.jpg") no-repeat fixed center center !important;
  background-size: cover !important;
}

/* line 143, smithfield.scss */
.loginPage .loginLogo {
  display: block;
  margin: 2rem auto 0 auto;
  max-width: 100%;
}
/* line 149, smithfield.scss */
.loginPage .loginSLogan {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* line 155, smithfield.scss */
.loginPage .sapMCbLabel {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #813B09;
  text-shadow: white 0px 1px 0;
}

/* Icon styles
-------------------------------------------------------*/
/* line 165, smithfield.scss */
.iconStyle {
  margin: 5px 0;
  background: #FFF0D6;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
}

/* Inputs styles
-------------------------------------------------------*/
/* line 176, smithfield.scss */
.inputStyle input {
  border-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/*Button styles
-------------------------------------------------------*/
/* line 190, smithfield.scss */
.sapMBtnInner.sapMBtnHoverable:hover {
  background-color: rgba(225, 225, 225, 0.2);
}

/* line 195, smithfield.scss */
.buttonStyle .sapMBtnInner {
  /*margin-bottom:5px;*/
  font-size: 1rem;
  font-weight: bold;
  color: #6B6B69;
  background: #FFF0D6;
  border: 1px solid #FFF0D6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #fed099 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 4px 1px;
  -moz-box-shadow: #fed099 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 4px 1px;
  box-shadow: #fed099 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 4px 1px;
}
/* line 207, smithfield.scss */
.buttonStyle .sapMBtnInner.sapMBtnHoverable:hover {
  background-color: #FFFCF2;
  border: 1px solid #FFFCF2;
}
/* line 213, smithfield.scss */
.buttonStyle .sapMBtnInner.sapMBtnActive:not(.sapMBtnDisabeled),
.buttonStyle .sapMBtnInner.sapMBtnDesktop:active:not(.sapMBtnDisabeled) {
  background-color: #10ACE7;
  border: 1px solid #0098DA;
  -webkit-box-shadow: #0098da 0px 2px 0px inset;
  -moz-box-shadow: #0098da 0px 2px 0px inset;
  box-shadow: #0098da 0px 2px 0px inset;
}

/* line 220, smithfield.scss */
.buttonStyle {
  margin-bottom: 5px;
  background-color: #FFF0D6;
  border: 1px solid #FFF0D6;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #fed099 0px 2px 0px, rgba(107, 107, 105, 0.1) 0px 4px 1px;
  -moz-box-shadow: #fed099 0px 2px 0px, rgba(107, 107, 105, 0.1) 0px 4px 1px;
  box-shadow: #fed099 0px 2px 0px, rgba(107, 107, 105, 0.1) 0px 4px 1px;
}

/* line 231, smithfield.scss */
.buttonStyle.sapMBtnHover:not(.sapMBtnDisabeled),
.buttonStyle.sapMBtnDesktop:hover:not(.sapMBtnDisabled) {
  background-color: #FFFCF2;
  border: 1px solid #FFFCF2;
}

/* line 237, smithfield.scss */
.buttonStyle.sapMBtnActive:not(.sapMBtnDisabeled),
.buttonStyle.sapMBtnDesktop:active:not(.sapMBtnDisabeled) {
  background-color: #10ACE7;
  border: 1px solid #0098DA;
  -webkit-box-shadow: #0098da 0px 2px 0px inset;
  -moz-box-shadow: #0098da 0px 2px 0px inset;
  box-shadow: #0098da 0px 2px 0px inset;
}

/* Dialog styles
-------------------------------------------------------*/
/* line 247, smithfield.scss */
.sapUiBLy {
  background-color: #FFFCF2;
}

/* line 251, smithfield.scss */
.sapMDialog {
  border: 0;
  background: #FFF0D6;
  border-color: #FED099;
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
}
/* line 257, smithfield.scss */
.sapMDialog header.sapMBar {
  background: none !important;
  box-shadow: none !important;
}
/* line 262, smithfield.scss */
.sapMDialog .sapMIBar-CTX.sapMFooter-CTX {
  background: #A33863;
}

/* line 268, smithfield.scss */
.sapMDialog > header.sapMDialogTitle > .sapMBarMiddle > .sapMBarPH > .sapMLabel {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #813B09;
}

/* line 273, smithfield.scss */
.sapMDialog > section {
  background: none;
}
/* line 276, smithfield.scss */
.sapMDialog > section .sapMText {
  text-align: center !important;
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #813B09;
}

/* line 283, smithfield.scss */
.sapMDialog > footer.sapMDialogActions {
  background: #A33863 !important;
  border-top: 0;
}

/* line 288, smithfield.scss */
.sapMDialog > footer.sapMDialogActions > .sapMDialogAction {
  border-color: #883053;
}

/* line 292, smithfield.scss */
.sapMDialog > footer.sapMDialogActions > .sapMDialogAction > button.sapMDialogBtn {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
}

/* line 297, smithfield.scss */
.logOutPop .logouttext {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #813B09;
}

/* line 303, smithfield.scss */
.sapMPopup-CTX .sapMBar.sapMPageHeader {
  background: none !important;
}

/* line 307, smithfield.scss */
.sapMPopup-CTX .sapMBar-CTX.sapMPageHeader .sapMLabel {
  color: #813B09;
  text-shadow: white 0px 1px 0px;
}

/* Loading styles
-------------------------------------------------------*/
/* line 314, smithfield.scss */
.sapUiLocalBusyIndicator {
  background: none;
}

/* Refresh styles
-------------------------------------------------------*/
/* line 321, smithfield.scss */
.sapMPullDown {
  color: #754A1E;
  background: none;
  text-align: center;
}

/* List styles
-------------------------------------------------------*/
/* line 331, smithfield.scss */
.smithListStyle .sapMListHdr {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  text-align: center;
  color: #A33863;
  border-bottom: 0;
  white-space: normal;
  text-overflow: inherit;
  height: auto;
  line-height: normal;
  padding: 1rem 1rem 0 1rem;
}
/* line 344, smithfield.scss */
.smithListStyle li.sapMLIB {
  background-color: #FFFCF2;
  margin: 1rem;
  border-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  			/*@include transition-property(background-color);
    			@include transition-duration(0.3s);*/
}
/* line 354, smithfield.scss */
.smithListStyle li.sapMLIB .sapMLIBContent {
  /*IE bugline break*/
}
/* line 359, smithfield.scss */
.smithListStyle .sapMLIBActive.sapMLIB, .smithListStyle .sapMLIBActive.sapMLIB > td {
  color: #ffffff;
  background: #A33863;
}

/* Desktop list item Hover */
/* line 372, smithfield.scss */
.sap-desktop .sapMLIB:hover:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI),
.sap-desktop .sapMListUl:not(.sapMListModeDelete):not(.sapMListModeNone) .sapMLIB:hover:not(.sapMLIBActive):not(.sapMALI),
.sap-desktop .sapMLIB:hover:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI) > td,
.sap-desktop .sapMLIB:hover:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI) + .sapMListTblSubRow,
.sap-desktop .sapMListTblSubRow:hover:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI) {
  background: #FFF0D6;
}

/* Customer Page styles
-------------------------------------------------------*/
/* line 379, smithfield.scss */
.sapMSplitContainerMaster .customersPage {
  background: url("../i/bg.jpg") no-repeat fixed center center !important;
  background-size: cover !important;
}

/* line 386, smithfield.scss */
.customersPage .sapMBar.sapMPageHeader {
  background: #a33863 url("../i/whitelogo.svg") no-repeat center center;
  background-size: 134px 28px;
}
/* line 396, smithfield.scss */
.customersPage .customersList .shiptoName {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #A33863;
  font-weight: bold;
  margin: 10px 10px 0 10px;
  /*IE bug line break*/
}
/* line 404, smithfield.scss */
.customersPage .customersList .shiptoNumber {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #6B6B69;
  margin: 0 10px 10px 10px;
}
/* line 410, smithfield.scss */
.customersPage .customersList .storeIconBox {
  width: 20% !important;
}
/* line 413, smithfield.scss */
.customersPage .customersList .shiptoBox {
  width: 60% !important;
}
/* line 416, smithfield.scss */
.customersPage .customersList .arrowIconBox {
  width: 20% !important;
}
/* line 420, smithfield.scss */
.customersPage .customersList .sapMLIB.sapMLIBSelected {
  background: #A33863;
  color: #ffffff;
}
/* line 426, smithfield.scss */
.customersPage .customersList .sapMLIB.sapMLIBSelected .storeIcon, .customersPage .customersList .sapMLIB.sapMLIBSelected .arrowIcon {
  color: #ffffff !important;
}
/* line 429, smithfield.scss */
.customersPage .customersList .sapMLIB.sapMLIBSelected .shiptoName {
  color: #ffffff;
}
/* line 432, smithfield.scss */
.customersPage .customersList .sapMLIB.sapMLIBSelected .shiptoNumber {
  color: #FFF0D6;
}
/* line 438, smithfield.scss */
.customersPage .customersList .sapMLIBActive.sapMLIB .storeIcon, .customersPage .customersList .sapMLIBActive.sapMLIB .arrowIcon {
  color: #ffffff !important;
}
/* line 441, smithfield.scss */
.customersPage .customersList .sapMLIBActive.sapMLIB .shiptoName {
  color: #ffffff;
}
/* line 444, smithfield.scss */
.customersPage .customersList .sapMLIBActive.sapMLIB .shiptoNumber {
  color: #FFF0D6;
}

/* Desktop customers List item Active */
/* line 457, smithfield.scss */
.sap-desktop .customersList .sapMLIBSelected:hover:not(.sapMLIBActive):not(.sapMALI),
.sap-desktop .customersList .sapMListUl:not(.sapMListModeDelete):not(.sapMListModeNone) .sapMLIBSelected:hover:not(.sapMLIBActive):not(.sapMALI),
.sap-desktop .customersList .sapMLIBSelected:hover:not(.sapMLIBActive):not(.sapMALI) > td,
.sap-desktop .customersList .sapMLIBSelected:hover:not(.sapMLIBActive):not(.sapMALI) + .sapMListTblSubRow,
.sap-desktop .customersList .sapMLIBSelected:not(.sapMLIBActive):not(.sapMALI) + .sapMListTblSubRow:hover {
  background: #A33863;
}

/* Main Page styles
-------------------------------------------------------*/
/* line 464, smithfield.scss */
.sapMSplitContainerDetail .mainPage {
  background-color: #fff8ea;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 5px inset;
}

/* line 469, smithfield.scss */
.mainPage {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8f7ff), color-stop(43%, #f9fdff), color-stop(55%, #fff8ea), color-stop(71%, #fff3db), color-stop(100%, #e7ffc6));
  background-image: -webkit-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: -moz-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: -o-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
}
/* line 474, smithfield.scss */
.mainPage .sapMLIB.sapMLIBSelected .truckIcon {
  /*color:#FFF0D6 !important;*/
}
/* line 477, smithfield.scss */
.mainPage .sapMLIB.sapMLIBSelected .valueLabel {
  /*color:#ffffff;*/
}
/* line 480, smithfield.scss */
.mainPage .sapMLIB.sapMLIBSelected .titleLabel {
  /*color:#FFF0D6;*/
}
/* line 483, smithfield.scss */
.mainPage .sapMLIB.sapMLIBSelected .ETAlabel {
  /*color:#FFF0D6;*/
}
/* line 486, smithfield.scss */
.mainPage .sapMLIB.sapMLIBSelected .ETAvalue {
  /*color:#ffffff;*/
}
/* line 492, smithfield.scss */
.mainPage .sapMLIBActive.sapMLIB .truckIcon, .mainPage .sapMLIBActive.sapMLIB > td .truckIcon {
  color: #FFF0D6 !important;
}
/* line 497, smithfield.scss */
.mainPage .truckIcon {
  display: block;
  margin: 0.8rem auto;
}
@media (min-width: 720px) {
  /* line 503, smithfield.scss */
  .mainPage .truckIcon {
    margin: 4rem auto 0 auto;
  }
}

/* line 509, smithfield.scss */
.shipmentListItemStyle {
  margin: 0.8rem;
}

/* line 513, smithfield.scss */
.titleLabel {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #754E27;
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

/* line 520, smithfield.scss */
.valueLabel {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #813B09;
  font-size: 1rem;
}

/* line 526, smithfield.scss */
.ETAContainer {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

/* line 530, smithfield.scss */
.ETAlabel {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #BD9059;
}

/* line 534, smithfield.scss */
.ETAvalue {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #813B09;
}

/* Detail Page styles
-------------------------------------------------------*/
/* line 542, smithfield.scss */
.sapMSplitContainerDetail .detailPage {
  background-color: #fff8ea;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 5px inset;
}

/* line 547, smithfield.scss */
.detailPage {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8f7ff), color-stop(43%, #f9fdff), color-stop(55%, #fff8ea), color-stop(71%, #fff3db), color-stop(100%, #e7ffc6));
  background-image: -webkit-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: -moz-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: -o-linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
  background-image: linear-gradient(#e8f7ff, #f9fdff 43%, #fff8ea 55%, #fff3db 71%, #e7ffc6);
}

/* line 551, smithfield.scss */
.shipmentDetailHeader.sapMIBar.sapMSubHeader-CTX {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
  color: #A33863;
  background: #FFFCF2;
  -webkit-box-shadow: inset #883053 0px 2px 0px, #fff1d5 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 2px;
  -moz-box-shadow: inset #883053 0px 2px 0px, #fff1d5 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 2px;
  box-shadow: inset #883053 0px 2px 0px, #fff1d5 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 2px;
}
/* line 558, smithfield.scss */
.shipmentDetailHeader.sapMIBar.sapMSubHeader-CTX .sapMText {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  vertical-align: middle;
}
/* line 562, smithfield.scss */
.shipmentDetailHeader.sapMIBar.sapMSubHeader-CTX .sapUiIcon {
  vertical-align: middle;
}

/* line 569, smithfield.scss */
.shipmentDetailList .sapMListHdr {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  text-align: center;
  color: #A33863;
  border-bottom: 0;
}
/* line 576, smithfield.scss */
.shipmentDetailList .sapMListUl {
  position: relative;
  margin: 1rem;
  background: #FEFEFE;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  -moz-border-radius-topright: 41px 55px;
  -webkit-border-top-right-radius: 41px 55px;
  border-top-right-radius: 41px 55px;
}
/* line 583, smithfield.scss */
.shipmentDetailList .sapMListUl:before {
  content: '';
  cursor: pointer;
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  right: 0;
  border-bottom: 28px solid transparent;
  border-right: 28px solid #FFF0D6;
  /*border-top: 28px solid transparent;*/
}
/* line 597, smithfield.scss */
.shipmentDetailList .sapMListUl:after {
  content: '';
  cursor: pointer;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  /*border-bottom: 28px solid transparent;*/
  border-left: 28px solid #FED099;
  border-top: 28px solid transparent;
}
/* line 611, smithfield.scss */
.shipmentDetailList .sapMListUl .sapMLIB {
  margin: 0 0.8rem;
  background: none;
  border-bottom: 1px solid #FFF0D6;
  text-shadow: white 0px 1px 0;
}
/* line 617, smithfield.scss */
.shipmentDetailList .sapMListUl .sapMLIB .sapUiRespGrid {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
/* line 622, smithfield.scss */
.shipmentDetailList .sapMListUl .sapMLIB .detailLabel {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #BD915A;
}
/* line 627, smithfield.scss */
.shipmentDetailList .sapMListUl .sapMLIB .detailValue {
  font-family: 'Cabin',Arial,Helvetica,sans-serif;
  color: #813B09;
  font-weight: bold;
}

/* IE style bugs fixes
-------------------------------------------------------*/
/* line 641, smithfield.scss */
html[data-sap-ui-browser*=ie] {
  /*IE bugline break*/
}
/* line 643, smithfield.scss */
html[data-sap-ui-browser*=ie] .smithIcon {
  margin-top: 8px;
}
/* line 649, smithfield.scss */
html[data-sap-ui-browser*=ie] .smithListStyle li.sapMLIB .sapMLIBContent {
  max-width: 100%;
}
/* line 653, smithfield.scss */
html[data-sap-ui-browser*=ie] .customersPage .customersList .shiptoName {
  max-width: 153px;
}
/* line 657, smithfield.scss */
html[data-sap-ui-browser*=ie] .shipmentDetailList .sapMLIBContent {
  max-width: 100%;
}

/* IE 9 bugs fixes */
/* line 665, smithfield.scss */
html[data-sap-ui-browser*=ie9] .smithListStyle li.sapMLIB {
  width: 96%;
  margin: 1rem 2%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
/* line 670, smithfield.scss */
html[data-sap-ui-browser*=ie9] .shipmentDetailList .sapMListUl .sapMLIB {
  margin: 0;
}
